# Python
__pycache__/
**/__pycache__/**
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
env/
venv/

# Build
dist/
build/

# Frontend static build
static/
frontend/dist/

# IDE
.idea/
.vscode/

# OS
.DS_Store

#data
questions_current.json

#Deploy
deploy/*.zip